## package
**/node_modules

## components
client/components/**/*.wxml
client/components/**/*.wxss

## pages
client/pages/**/*.wxml
client/pages/**/*.wxss

## wxss
client/styles/*.wxss
app.wxss

## py
py/*