@import 'define.styl'

.gray
  color cr-gray

.black
  color cr-black

.red
  color cr-red  

.page-wrapper
  min-height 100vh
  background #f6f6f6
  box-sizing border-box
  padding 15px 12px

.card-panel
  padding 12px
  box-shadow 0 0 20px 0 rgba(0,0,0,0.08)
  background #ffffff
  border-radius box-radius