view
  view.account-area.flex.flex-middle
    view.avatar.mr15
      image.avatar-img(
        src=""
      )

    view.account-info
      button(
        open-type="getUserInfo"
        bindgetuserinfo="bindGetUserInfo"
      ) name
