@import '../../styles/framework.styl';
@import '../../styles/flex.styl';
@import '../../styles/fun.styl';

.card-img
  width 155px
  height 88px
  background #f6f6f6
  border-radius 5px
  display block

.pop-icon
  width 10px
  height 12px
