view.card-item.flex.mb10
  view.img-wrap.mr10
    image.card-img(src="")
    img.num-item(src="")

  view.text-wrap.flex.flex-full.flex-column.flex-space-between
    view.title 标题

    view.foot.flex-center-between.font14
      view.gray.flex.flex-middle
        image.pop-icon.mr5(src="/images/5.png")
        text 粤菜

      view.red.font12 11人预览  