@import '../../styles/framework.styl';
@import '../../styles/flex.styl';
@import '../../styles/fun.styl';

.food-image
  width 90px
  height 90px
  display block
  background #f6f6f6

.honor-png
  width 80px
  height 18px