view.card-panel.flex.flex-space-between.black
  view.flex.flex-column.flex-space-between
    view
      image.honor-png(src="/images/1.png" mode="widthFix")
      view.font18 标题

    view 
      view.font12.gray tip1
      view.font12.gray tip2

  view
    image.food-image(src="")