view.black
  search(
    placeholder="输入菜名/菜系" 
    disabled
    bind:tap="toSearchPage"
  )

  view.page-body
    weekBestCard

    view.popular-list.mt15
      image.popular-banner(src="/images/6.png" mode="widthFix")

      image.one-banner.mb10(src="")

      popularCard
      popularCard
      popularCard

  view.space-list.mt3.mb15
    view.flex
      view.flex-full.space-item
        newPicCard
      view.flex-full.space-item
        newPicCard  
