@import '../../styles/framework.styl';
@import '../../styles/fun.styl';

.error
  position fixed
  top 50%
  left 50%
  transform translate(-50%, -50%)
  text-align center

.err-img
  width 110px
  height 110px 

.err-btn
  padding 6px 15px
  border 1rpx solid #cccccc  
  border-radius 5px
  min-width 60px
  display inline-block
  box-sizing border-box
  text-align center

  