view.menu-card.card-panel.flex.mb10
  view.img-wrap
    image.img(src = "{{ menu.pic }}")

  view.flex-full 
    view.title.mb5 {{ menu.title }}
    view.font12.gray.mb3 {{ menu.foodDesc }}
    view.font12.gray.mb5 {{ menu.flavor }}
    view.font12.red.flex.flex-right
      text {{ menu.readed }}人浏览
    
