@import '../../styles/framework.styl';
@import '../../styles/flex.styl';
@import '../../styles/fun.styl';

.img 
  width 80px
  height 80px
  display block
  background #f6f6f6
  border-radius 5px
  margin-right 12px